@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Work Sans", sans-serif;
    --color1: rgb(255, 255, 255) ;
    --color2: #1b1b1e;
    --color3: #5C75FF;
    --color4: #fd9be5;
    border-color: black;
    background-image: linear-gradient(to top, var(--color2), #303036);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    background-color: none;
    padding-top: 12px;
}

.logo-container {
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 300px;
    height: 0 auto;
}

.logo:hover{
    cursor: pointer;
}

.logo-container {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.logo-container img {
    transition: filter 0.3s ease; /* Add a smooth transition for the filter effect */
}

.logo-container:hover img {
    filter: drop-shadow(0px 2px 10px #fd9be475); /* Apply grayscale effect on hover */
}


@media(max-width: 1380px){
    .weather-box{
        margin-top: 20%;
        width: 680px;
        height: 800px;
        margin-top: 5%;
        border-radius: 20%;
    }
}

@media(max-width: 610px){
    .weather-box{
        width: 320px;
        height: 520px;
        margin-top: 10%;
        border-radius: 18%;
    }
}

@media(max-width: 330px){
    .weather-box{
        width: 290px;
        height: 500px;
    }
}







